---
layout: splash
permalink: /
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/home/header.jpg
  cta_label: "Explore"
  cta_url: "/services/"
  caption:
excerpt: 'Dev Puzzle is a public knowledge repository about cloud services and it’s integrations.<br>'
feature_row:
  - image_path: /assets/images/home/tile-blog-post.jpg
    alt: "Welcome to Dev Puzzle"
    title: "Welcome to Dev Puzzle"
    excerpt: "Let’s dive into individual puzzle pieces and see how they combine to create great software"
    url: "blog/welcome-to-dev-puzzle/"
    btn_class: "btn--secondary"
    btn_label: "Read More"

  - image_path: /assets/images/home/tile-cloud-providers.jpg
    alt: "Explore services"
    title: "Explore services"
    excerpt: "Storage? Compute? Machine Learning? Find out what services provide Azure, AWS or Google. Compare and choose the best offering."
    url: "/services/"
    btn_class: "btn--secondary"
    btn_label: "Learn More"

  - image_path: /assets/images/home/tile-limitation.jpg
    alt: "customizable"
    title: "Discover limitations"
    excerpt: "Learn early limitations. Don't become a hostage of a cloud provider."
    url: "/services/"
    btn_class: "btn--secondary"
    btn_label: "Learn More"
  
intro:
  - excerpt: 'Contribute / get in touch &nbsp; [<i class="fab fa-github"></i> Dev Puzzle](https://github.com/valdasm/dev-puzzle){: .btn .btn--info} [<i class="fab fa-envelope-o"></i> Ping Me](/about/){: .btn .btn--success}'

---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}


<div class="feature_wrapper">
  <div class="faq">
    <h1>Frequently Asked Questions</h1>
    <div class="row">
      <div class="column">
          <h3>What can I find here?</h3>
          <p>A list of Azure and AWS services (more providers to come), its alternatives, available integrations and limitations. The website will focus most on available and missing service-to-service integrations - “can a service X work with service Y”</p>
      </div>
      <div class="column">
          <h3>Who can contribute?</h3>
          <p>Everyone. It is a public GitHub repository where everyone can contribute. In addition, if there are any inaccuracies, please contact us, or leave a comment. It is a work in progress. </p>
      </div>
    </div>
    <div class="row">
      <div class="column">
          <h3>Is it a commercial product?</h3>
          <p>No. The main purpose of this website is publicly available knowledge sharing.</p>
      </div>
      <div class="column">
          <h3>Why did you launch it?</h3>
          <p>I am an IT architect, and the idea to build such repository came when I was preparing for Azure architect certification. I know how painful it is to discover tiny limitations that discard an architecture. It is my attempt to create a holistic view of all available cloud services.</p>
      </div>
    </div>
  </div>
</div>



