---
layout: single
---



{% for service in site.data.service_details[page.type] %}
  <p>{{ service.description }}</p>
  {% assign available_integrations = service.integrations | where:'status', 'Available' %}
  {% assign preview_integrations = service.integrations | where:'status', 'Preview' %}
  {% assign unavailable_integrations = service.integrations | where:'status', 'Not available' %}

  {% for url in service.urls %}
    <a href="{{url}}">{{ url }}</a>
  {% endfor %}

  {% if service.integrations.size == 0 %}
    There are no described integrations yet! 
  {% else %}  
    <h3>Integrations</h3>
    {% if available_integrations.size != 0 %}
      <hr>
      <strong>Available</strong>
      {% for integration in available_integrations  %}
        {% include integration_details.html %}
      {% endfor %} 
    {% endif %} 

    {% if preview_integrations.size != 0 %}
      <hr>
      <strong>Preview</strong>
      {% for integration in preview_integrations  %}
        {% include integration_details.html %}
      {% endfor %}
    {% endif %}   

    {% if unavailable_integrations.size != 0 %}
      <hr>
      <strong>Not available</strong>
      {% for integration in unavailable_integrations %}
        {% include integration_details.html %}
      {% endfor %} 
    {% endif %} 
  {% endif %}
{% endfor %}

<hr>
<p>Something missing? Would like to to add available integration? Comment below or contribute on <a href="https://github.com/valdasm/dev-puzzle" target="_blank">Dev Puzzle project on GitHub.</a></p>